<?xml version="1.0" encoding="UTF-8"?>
<app>
	<vehicleName>MOPED</vehicleName>
	<brand>SICS</brand>
	<plugins>
		<plugin>
			<name>UltraSonicReader.suite</name>
			<ecu>3</ecu>
			<ports>
				<port>
					<name>fs</name>
				</port>
				<port>
					<name>ff</name>
				</port>
			</ports>
		</plugin>
		<plugin>
			<name>AutoBrake.suite</name>
			<ecu>2</ecu>
			<ports>
				<port>
					<name>ab</name>
				</port>
				<port>
					<name>brake</name>
				</port>
				<port>
					<name>brakeLight</name>
				</port>

			</ports>
		</plugin>
	</plugins>
	<links>
		<link>
			<from>fs</from>
			<to>ab</to>
		</link>
		<link>
			<from>13</from>
			<to>ff</to>
		</link>
		<link>
			<from>brake</from>
			<to>3</to>
		</link>
		<link>
			<from>brakeLight</from>
			<to>9</to>
		</link>
	</links>
</app>
