<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
 <session-factory>
 <property name="hibernate.dialect">
 org.hibernate.dialect.MySQLDialect
 </property>
 <property name="hibernate.connection.driver_class">
 com.mysql.jdbc.Driver
 </property>

 <!-- Assume test_db is the database name -->
 <property name="hibernate.connection.url">
     jdbc:mysql://localhost:3306/fresta?characterEncoding=utf8
 <!-- jdbc:mysql://localhost:3306/test_db -->
 </property>
 <property name="hibernate.connection.username">
 fresta
 </property>
 <property name="hibernate.connection.password">
 turbine_r4d4r_pLOw
 </property>
 <!-- List of XML mapping files -->
 <!-- mapping resource="TestConfig.hbm.xml"/-->
 <mapping resource="FrestaConfig.hbm.xml"/>
</session-factory>
</hibernate-configuration>
